<div class='row-fluid span12'>
  <div class="train-buttons btn-group offset3 row-fluid" data-toggle="buttons-checkbox">
    <button type="button" class="btn btn-primary" id="dart-button">Dart</button>
    <button type="button" class="btn btn-primary" id="suburban-button">Suburban</button>
    <button type="button" class="btn btn-primary" id="mainline-button">Mainline</button>
    <button type="button" class="btn btn-primary" id="other-button">Others</button>
  </div>
</div>

<div class="main-panel">
    <div class="station-map-div"></div>
    <div class="station-map-sidebar sidebar span3"></div>
</div>