<div class="accordion-group">
    <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#station-list-accordion" href="#<%- id %>">
            <%- heading %>
        </a>
    </div>
    <div id="<%- id %>" class="accordion-body collapse">
        <div class="accordion-inner station-list-accordion-list-div">  
            <div class="row no-space">
                        
                <div class="span6 station-list-accordion-list-span">
                    <ul class="station-list-accordion-list left">
                    </ul> 
                </div>

                <div class="span6 station-list-accordion-list-span">
                    <ul class="station-list-accordion-list right">
                    </ul>
                </div>
            </div>
        </div>
    </div> 
</div>  